@font-face {
    font-family: Abel;
    src: url("../fonts/Font-1/Abel-Regular.ttf");
}

@font-face {
    font-family: Anton;
    src: url("../fonts/Font-2/Anton-Regular.ttf");
}

@font-face {
    font-family: Josefin;
    src: url("../fonts/Font-3/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: Lexend;
    src: url("../fonts/Font-4/LexendDeca-Regular.ttf");
}

@font-face {
    font-family: Livvic;
    src: url("../fonts/Font-5/Livvic-Regular.ttf");
}